<template lang="pug">
  #app
    slide.first-silde(leave="slideOutLeft")
      .video-container
        video(autoplay, loop, muted, poster="//aja.com.tw/img/index/videoScreenNew.jpg")
          source(src="//aja.com.tw/video/aja.mp4", type="video/mp4")
          source(src="//aja.com.tw/video/aja.webm", type="video/webm")
          source(src="//aja.com.tw/video/aja.ogv", type="video/ogv")
        .video-mask
      article
        h1.header 經營者需要學的第二火星語 vs 開發者需要學的第二火星語
        h5.sub-header 曾薰儀 (Vicky) | 露天市集國際資訊 總經理
         
    slide(enter='slideInRight', leave="slideOutLeft")
       article
        header
          h2.header 開發者最常碰到的問題
          .grid.paded
            .col.text-center
              .boss(data-tooltip="老闆、主管或甲方", data-tooltip-pos="left")
                img(src="./assets/200w.gif", width="100")
            .col.text-center
              .rock(data-tooltip="隕石", data-tooltip-pos="bottom")
                .circular-mask
                  img(src="./assets/rock.gif")
          .grid.paded 
            .col.text-center
              .rabbit.d-inline
                .d-inline(data-tooltip="崩潰的人們", data-tooltip-pos="left")
                  .circular-mask.is-small.d-inline
                    img(src="./assets/rabbit.gif")
              
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 一般所認為的組織架構
        img(src="./assets/structure.jpg")
        .text-center When top-level guys look down,<br/>they see only shit.
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 商業人缺乏
        ol 
          li 思考並理解問題的本質
          li 重新描述問題範圍和具體完整的目標
          li 找出反覆進行的規律
          li 將規律與重要的資料參數化
          li 精簡可重複執行的描述
          li 套用程式邏輯規則
          li 驗證、執行、修正
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 商業人不需要會寫程式，但需要會

        blockquote 「系統性思考 + 邏輯性語言」，才能有效率的溝通
        ol 
          li 找出反覆進行的規律
          li 將規律與重要的資料參數化
          li 精簡可重複執行的描述

    slide(enter='slideInRight', leave="slideOutLeft", steps="3") 
      article 
        h2.header 打個比方 
        .grid 
          .col.text-center 
            h3 回家路上買 5 顆芭樂，如果看到蘋果，就買 2 個。
        .grid 
          .col.text-center 
            small.text-gray(v-if='step > 1') 經工程師運算...
        .grid 
          .col.text-center(v-if='step > 2')
            h1 
              del 2 顆芭樂
        
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 再打個比方 
        .grid
          .col.text-center 
            h5.mt-0 在一般頁面，畫面捲動超過第一屏，「Top」按鈕滑出並固定於網頁右下角，<br/>捲到 footer 時，位置移動到 footer 上方，<br/>如果在狀態頁，則不顯示「Top」按鈕。
            video(autoplay, loop, muted, poster="//aja.com.tw/img/index/videoScreenNew.jpg", width="80%")
              source(src="./assets/demo.mp4", type="video/mp4")
    
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 商業人需要學習的是
        ol
          li 腦袋更新<br/>
            .text-gray 將商業或服務的理解改用電腦程式邏輯思考
          li 學習第二火星語（虛擬碼 Psuedo Code）<br/>
            .text-gray 產出程式化的處理過程描述
    
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 開發者需要學的火星語
        
        .grid
          .col.text-center
            h5.header.basic.text-gray 非開發者看到的角度
            h3.sub-header 視覺的單元
              br
              small (Logo、產品、功能區塊…)
          .col.text-center
            h5.header.basic.text-gray 開發者看到的角度
            h3.sub-header.basic 架構圖.jpg
        
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header Digital World v.s Business World
        ul 
          li Digital: 二進位
          li Business: 十進位，後面的 0 越多價值越大
        
        blockquote 商業語言 = 會計語言

        ul
          li 十進位數學
          li 只有 + 與 -
          li $$$$$$$ 發大財
        
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 會計語言做啥用？
        
        blockquote 「沒有嚴格的檢查，金錢會成為許多人虛謊的彙集，即使有檢查，虛謊也不容易從每次交易的財務報告看得清楚， 而是要有個系統性的檢核，無論幾千個交易，只要系統性地登錄，則在結算上就比較可以看出虛謊來。」
          p.text-right — 會計學之父盧卡·帕西奧利
        
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 會計語言的基本原則
        
        h1.text-center 收入 - 成本 - 費用 = 獲利
        
        
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 損益表Income Statement
        
        ul
          li 營業收入
          li 營業成本：經營成本主要由直接材料、直接人工、製造費用等等
          li 營業費用：銷售費用、管理、研發等等
        
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 當你是創業者或服務開發者時
        
        h6 你所開發的服務，有收入模式嗎？若有，那是？<br/>廣告？零售？訂閱？或者服務收入？還有慈善捐款
        ol
          li 廣告收入: Google
          li 零售收入: Amazon（分別來自AWS和B2C的零售收入）
          li 訂閱收入: Netflix, KKBox
          li 慈善捐款: 維基百科(NGO)
        hr
        h6 當你希望得到資源(包括人、錢、自由度)支持你開發或調整服務，它預期帶來的會是? and how much, how big?
        ul
          li 收入多少？
          li 成本降低？
          li 費用減少？

        
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 成本量化的方式 - 攤到每人每年成本
        p 服務架構不能改時，買新機器 vs 舊機器繼續維護
        ol
          li 舊機器還有用途嗎？
          li 新機器的採購，可以以三到五年的計畫來看
        hr
        p 紙本發票 vs 電子發票
        ul 
          li 請工讀生處理並寄送發票（每年花上一兩百萬郵資）
          li 還是請工程師開發電子發票系統

        
    slide(enter='slideInRight', leave="slideOutLeft") 
      article 
        h2.header 商業語言0/1 - 財務語言
        h2 會計 = 過去的成績單
        h2 財務 = 未來的指標

    slide(enter='slideInRight', leave="slideOutLeft") 
      article
        h2.header 結語
        h1.text-center 1(技術) 後面能有多少個０(商業價值)
        p.text-center 當經營者學會系統思考、邏輯溝通
          br
          | 當開發者學會商業思考、財務語言
        img(src="./assets/peace.gif")

        
</template>

<script>
import { Slideshow } from 'eagle.js';
import 'animate.css';

export default {
  mixins: [Slideshow],
  data () {
    return {
      step: 4
    }
  }
}
</script>

<style lang="scss">
  :root {
    --color-white: #FCFAF2;
    --color-black: #0B1013;
    --color-main: #004E8A;
    --color-blue: #37a7df;
    --color-gray: #787878;
  }

  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
    color: var(--color-white);
    font-weight: 400;
    line-height: 1.3;
    background: var(--color-black);
  }

  blockquote {
    padding: 1rem 2rem;
    margin: 2rem 0;
    color: var(--color-gray);
    border-left: 5px solid var(--color-gray);
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
  }
  h5, h6 {
    margin: 0 0 .5rem;
  }
  ul, ol {
    margin: 0 0 1rem;
  }

  ul > li,
  ol > li {
    margin: 1rem 0;
  }
  small,
  .text-sm {
    font-size: .9rem;
  }
  * {
    box-sizing: border-box;
  }



  .mt-0 {
    margin-top: 0;
  }
  .text-gray {
    color: var(--color-gray) !important;
  }
  .text-blue {
    color: var(--color-blue) !important;
  }
  
  .float-left {
    float: left !important;
  }
  .float-right {
    float: right !important;
  }
  
  .grid {
    display: flex;
    margin: 2rem 0;
    &.paded {
      .col {
        min-height: 300px;
        align-items: center;
        align-content: center;
        justify-content: center;
      }
    }
    .col {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  .text-center {
    text-align: center !important;
  }
  .text-left {
    text-align: left !important;
  }
  .text-right {
    text-align: right !important;
  }

  .eg-slide {
    .eg-slide-content {
      position: relative;
      width: 100vw;
      height: 100vh;
    }

    .d-inline {
      display: inline-block !important;

      * {
        vertical-align: middle;
      }
    }

    *[data-tooltip] {
      position: relative;
      &::before {
        position: absolute;
        content: attr(data-tooltip);
        display: block;
        white-space: nowrap;
        font-size: .9rem;
        color: var(--color-blue);
        border: 1px solid var(--color-blue);
        padding: .2rem .5rem;
        border-radius: 5px;
        height: 20px;
      }

      &[data-tooltip-pos="left"]::before {
          right: 105%;
          top: 0;
          bottom: 0;
          margin: auto;
      }
      &[data-tooltip-pos="right"]::before {

      }
      &[data-tooltip-pos="bottom"]::before {
        top: 105%;
        left: 0;
        right: 0;
        width: 50px;
        margin: auto;
      }
    }

    .header:first-of-type {
      margin-bottom: 3rem;
    } 
    article { 
        position: relative;
        padding: 2rem;
        
        .rabbit::before,
        .rabbit::after {
          content: "";
          position: absolute;
          height: 1px;
          display: block;
          transform: rotate(60deg);
          border-top: 2px dashed #787878;
        }

        .rabbit::before {
          width: 210px;
          left: 24%;
          top: -16px;
        }

        .rabbit::after {
          width: 130px;
          top: 22px;
          margin-left: 100px;
          transform: rotate(-60deg);
        }

        .rock::after {
          content: "";
          position: absolute;
          width: 100%;
          top: 50%;
          left: -120%;
          height: 2px;
          border-top: 2px dashed #787878;
          transform-origin: 0 50%;
          z-index: 99;
        }
        .circular-mask {
          position: relative;
          width: 300px;
          height: 300px;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden;

          + .text-bubble {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1rem;
          }

          &.is-small {
            width: 150px;
            height: 150px;
          }
          img {
            position: absolute;
            width: auto;
            max-width: none;
            height: 100%;
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
            margin: auto;
          }
        }
        img {
          display: block;
          max-width: 90%;
          margin: 1rem auto;

          &.circular {
            border-radius: 50%;
          }
        }

        .img-16-9 {
          position: relative;
          padding-bottom: 56.25%;
          overflow: hidden;
          img {
            width: 100%;
            position: absolute;
            top: -100%;
            bottom: -100%;
            margin: auto;
          }
        }
    }

    hr {
      display: block;
      border: 0;
      margin: 3rem 0;
      border-bottom: 2px solid var(--color-blue);
    }

    .header {
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1rem;
        border-bottom: 2px solid var(--color-blue);
        
        &.basic {
          border-bottom: 0;
        }
        + .sub-header {
          margin-top: 0;
        }
    }

    &.first-silde {
      display: flex;
      align-content: center;
      align-items: center;
      article {
        position: absolute;
        z-index: 9;
        display: block;
        color: #FFF;
        top: 40%;
        .header {
          padding-bottom: 1rem;
          margin-bottom: 1rem;
          color: #FFF;
          border-bottom: 1px solid #FFF;
          font-weight: 300;
        }

        .sub-header {
          text-align: right;
          font-weight: 300;
        }
      }
    }
  }

  .video-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    video {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: 0;
      opacity: .5;
    }

    .video-mask {
      width: 100%;
      height: 100%;
      /* background: url(../img/index/videoMask.png) repeat; */
      background-color: #004E8A;
      opacity: 0.5;
      position: absolute;
      z-index: 1;
    }

  }
</style>